/* GLOBAL */
:root {
  font-size: 62.5%;

  --container-max-width: 30rem;
  --color-primary: #2D2C2A;
  --color-section-title-bg: #FED7AA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #FFEDD5;
}

ul {
  list-style: none;
}

header,
section {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

header h1,
section h2,
.details h3,
.price {
  font-family: 'Roboto Serif', serif;
  font-weight: 700;
  text-transform: uppercase;
}

header p,
.description {
  font: 400 1.4rem 'Roboto', sans-serif;
}


/* HEADER */
header {
  text-align: center;
  padding: 3.2rem 0;
}

header h1 {
  font-size: 2.8rem;
  line-height: 3.3rem;
  margin-bottom: 0.4rem;
}

header h1 span {
  color: #995000;
}

header p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6rem;
}


/* SECTION */
section:last-child {
  margin-bottom: 3.2rem;
}

section h2 {
  background-color: var(--color-section-title-bg);
  padding: .8rem 1rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

/* For each item */
ul li {
  display: flex;
  margin-bottom: 1.6rem;
}

ul li:last-child {
  margin-bottom: 2.4rem;
}

li .details {
  max-width: 24rem;
}

.details h3 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: .8rem;
}

.description {
  color: rgba(0, 0, 0, 0.6);
  line-height: 2.1rem;
}

.price {
  font-size: 1.6rem;
  width: 9rem;
  text-align: right;
}